@charset "UTF-8";
/* CSS Document */

@import url(font-awesome.min.css);

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background-color: #f9f7e9;
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* PARALLAX BACKGROUND SETTINGS
-------------------------------------------------- */

.parallax {
    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-image: url("https://mlucas2218.github.io/images/bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-caption {
    color: #fff;
    margin-bottom: 20px;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 400px;
    text-align: center;
    z-index: 10;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  padding-top: 40px;
}
.marketing .col-md-4 {
  margin-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* FEATURETTES
------------------------- */

.featurette-divider {
  margin: 60px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* Increase font sizes for large windows */
@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
  
  .parallax-caption h1 {
    font-size: 45px;
  }
	
  .parallax-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {	
    .parallax {
        background-attachment: scroll;
	background-size: auto;
	/*background-position: top;*/
	height: 350px;
    }
	
    .parallax-caption {
	top: 200px;
    }
}
