/**
 * inspiration.css
 */

body {
  /*background: #f5f5f5;*/
  background-attachment: fixed;
  background-image: url("https://mlucas2218.github.io/images/background_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  text-align: center;
}

.body-content {
  padding: 20px;
  margin: 60px;
}

.title {
  font-size: 48px;
  padding: 0 15px 15px 15px;
}

#subtitle {
  padding: 10px;
  margin-bottom: 0;
}

/* ----- Quote Button ----- */
#get-quote {
  margin: 20px 10px;
}

/* ----- Quote Block ----- */
#quote-block {
  background-color: #ffffff;
  padding: 40px 30px 30px 30px;
  margin-top: 10px;
  /*margin-bottom: 20px;*/
}
.quote-message {
  font-size: 26px;
  font-weight: 200;
}
.quote-author {
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
}

/* ----- Translate Buttons ----- */
.translate-btn-div {
  text-align: center;
  padding: 5px 10px;
}
.translate-btn {
  margin: 0px 10px;
}

/* ----- Footer ----- */
.footer {
  margin-top: 10px;
}


/* RESPONSIVE CSS
------------------------------ */

/* For mobile (phone) devices... */
@media (max-width: 767px) {
  
  /* Shrink text and spacing */
  .body-content {
    margin: 20px;
  }
  .title {
    font-size: 36px;
    padding-bottom: 0;
  }
  .quote-message {
    font-size: 20px;
  }
  .quote-author {
    font-size: 15px;
    padding: 5px;
  }
  
  /* Shrink margin around quote button and translate buttons */
  #get-quote {
    margin: 10px;
  }
  .translate-btn-div {
    padding: 10px;
  }
  
  /* Create margin around quote block, and shrink padding */
  #quote-block {
    padding: 20px 10px 15px 10px;
    margin: 15px 15px 20px 15px;
  }
}
